*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.add
{
    background-color: #95ad93;
}

button
{
    background-color: darkred;
    font-size: 1em;
    color: white;
}

button:hover
{
    background-color: dodgerblue;
    color: black;
}

button.sortButton
{
    background-color: #95ad93;
}

div.admin_footer
{
    display: inline;
    text-align: justify;
}

div.user_links
{
    text-align: center;
}

body {
    background-color: lightgoldenrodyellow;
    font-size: 16px;
}

h3
{
    color: red;
}

h4
{
    font-size: 1.5em;
}

select.vehicle_options
{
    font-size: .75em;
    background-color: whitesmoke;
}

td
{
    font-size: 22px;
} */

.car_table
{
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    word-wrap: break-word;
  white-space: nowrap;
}
input
{
    background-color: linen;
    border: none;
    border: 2px solid black;
}

label
{
    font-size: 1.5em;
}

h1, main
{
    text-align: center;
}

table.car_table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    background: rgb(124, 124, 124);
}
table.car_table thead th {
    padding: 15px 10px;
    font-size: 15px;
    color: #594b57;
    border-bottom: 2px solid #a1889f;
    font-weight: normal;
    word-wrap: break-word;
    white-space: nowrap;
    font-weight: 500;
    text-align: center;
    background: #fad2d2;
}
table.car_table tbody td {
    padding: 15px 10px;
    font-size: 14px;
    color: black;
    font-weight: normal;
    border-bottom: 1px solid #a1889f;
    border-radius: 1px solid #a1889f;
}
table.car_table tbody td > a > a {
    color: #333;
    text-decoration: none;
}
table.car_table tbody tr:nth-child(odd){
    background: #fff;
}
table.car_table tbody tr:nth-child(even) {
    background: #f6f6f6;
}
